In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

import joblib
import json

In [11]:
df = pd.read_csv("dataset/heart_disease_dataset_CHUD_S_A.csv")
df.head()
df.shape

(5000, 14)

In [12]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
age,4411.0,NaN,NaN,NaN,54.829901,10.855032,29.0,46.027138,54.822873,63.539473,77.0
sex,4418,2,Female,2218,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cp,4409,4,Asymptomatic,1732,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trestbps,4399.0,NaN,NaN,NaN,133.019682,19.913154,94.0,116.479869,134.500404,148.299363,176.782096
chol,4425.0,NaN,NaN,NaN,262.883223,80.613567,126.0,188.967414,259.801646,327.875962,423.482009
fbs,4421,2,True,2213,NaN,NaN,NaN,NaN,NaN,NaN,NaN
restecg,4417,3,Normal,1514,NaN,NaN,NaN,NaN,NaN,NaN,NaN
thalach,4416.0,NaN,NaN,NaN,150.289463,22.141853,101.383435,131.642083,149.95307,169.124221,195.551682
exang,4405,2,Yes,2637,NaN,NaN,NaN,NaN,NaN,NaN,NaN
oldpeak,4407.0,NaN,NaN,NaN,1.778127,1.581597,0.0,0.485799,1.191017,2.626216,5.165494
slope,4402,3,Flat,1775,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ca,4411.0,NaN,NaN,NaN,1.378372,1.02259,0.0,1.0,1.0,2.0,3.0
thal,4399,3,Reversible defect,2629,NaN,NaN,NaN,NaN,NaN,NaN,NaN
heart_disease,5000,5,no disease,1030,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df['target'].value_counts().sort_index()

KeyError: 'target'